/src/en/community/admin/ @Chief-Engineer
/src/en/community/admin.md @Chief-Engineer
/src/en/robust-toolbox/toolshed/ @moonheart08
/src/en/robust-toolbox/toolshed.md @moonheart08
/src/en/templates/ @moonheart08
/src/en/proposals/ @jezithyr
/src/en/templates/ @jezithyr
/src/en/space-station-14/core-design @jezithyr
/src/ru/* @ficcialfaint
