book

# Jetbrains (Rider, etc) project config folder
.idea/

# Editor files
.*~
*.swp

# VSCode and VSCodium project config folder
.vscode/
!.vscode/*.code-profile
!.vscode/launch.json
!.vscode/task.json

# Obsidian vault config folder
.obsidian/