/* Styling for the subpage footer & sidebar toc */

@media only screen and (max-width:1365px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1366px) {
    main {
        position: relative;
    }
    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 140px);
        position: absolute;
    }
    .pagetoc {
        position: fixed;
        width: 300px;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
    }
    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}

@media only screen and (min-width: 1366px) {
    #subpage-footer {
        margin-left: 200px;
    }
} 

#subpage-footer {
    max-width: 400px;
    margin-top: 100px;
    color: var(--fg) !important;
    display: block;
}

#subpage-footer > p {
    line-height: 1.0em;
}

#subpage-footer > ol {
    list-style: none outside none;
    padding-left: 20px;
    line-height: 1.6em;
    border-top: 1px solid var(--sidebar-spacer);
    padding-top: 10px;
}

#subpage-footer ol > li.chapter-item {
    display: flex;
}

#subpage-footer a.toggle {
    display: block;
    margin-left: auto;
    padding-left: 20px;
    opacity: 0.68;
}

@media print {
    .sidetoc {
        display: none;
    }
    #subpage-footer {
        display: none;
    }
}
